.home-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.map-container {
  height: 100%;
  width: 100%;
}

.overlay-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
}

.overlay-buttons ion-fab {
  pointer-events: auto;
}

.user-marker-icon {
  background: transparent;
  border: none;
}

.pulse-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pulse-dot {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #216454;
  border: 2px solid #FAFAFA;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
}


.pulse-ring, .pulse-ring-2 {
  animation: pulse-animation 2.5s 0.3s infinite ease-out;  
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #254C43;
  border-radius: 50%;
  opacity: 0.3;
  z-index: 1;
}

.pulse-ring-2 {
  animation: pulse-animation 2.5s 0.5s infinite ease-out;  
}


@keyframes pulse-animation {
  0% {
    transform: scale(0.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
